@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&family=Prompt:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Kaufhalle';
  src: url('./fonts/kaufhalle.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --font-1: 'Prompt', sans-serif;
  --font-2: 'Orbitron', sans-serif;
  --font-3: 'Kaufhalle', sans-serif;

  --light: #f5f5f7;
  --light-1: #e2e2ef;
  --light-2: #d7d7db;
  --dark-faded: rgba(0, 0, 0, 0.63);
  --primary: #1f1f2d;
  --primary-light: rgb(108, 113, 145);

  --shade-1: rgba(65, 144, 201, 1);
  --shade-1-fade: rgba(65, 144, 201, 0.15);

  --shade-2: rgba(65, 79, 201, 1);
  --shade-2-fade: rgba(65, 79, 201, 0.15);

  --shade-3: rgb(65, 201, 133);
  --shade-3-fade: rgba(65, 201, 133, 0.15);

  --shade-4: rgb(201, 97, 65);
  --shade-4-fade: rgba(201, 97, 65, 0.15);

  --danger: rgb(219, 51, 51);

  --box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

::-webkit-scrollbar-track {
  background: white;
}

body {
  font-family: var(--font-1);
  width: 100%;
}

p {
  color: var(--primary-light);
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}
input {
  font-family: var(--font-1);
}
button {
  font-family: var(--font-1);
  font-size: 1rem;
}

.hoverable {
  transition: filter 0.3s ease-out;
  cursor: pointer;
}

.hoverable:hover {
  filter: brightness(75%);
}

.scrollable {
  overflow-y: scroll;
  height: 100vh;
}

.disabled {
  filter: brightness(75%);
  cursor: not-allowed !important;
}
