@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&family=Prompt:wght@200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "Kaufhalle";
  src: url("./fonts/kaufhalle.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --font-1: "Prompt", sans-serif;
  --font-2: "Orbitron", sans-serif;
  --font-3: "Kaufhalle", sans-serif;

  --light: #f5f5f7;
  --light-1: #d5d5e4;
  --light-2: #bfbfc4;
  --dark-fade: rgba(0, 0, 0, 0.63);
  --dark-fade-1: rgba(0, 0, 0, 0.384);
  --primary: #1f1f2d;
  --primary-light: rgb(108, 113, 145);

  --twitch-purple: #6441a5;
  --youtube-red: #d41a1a;

  --shade-1: rgba(65, 144, 201, 1);
  --shade-1-fade: rgba(65, 144, 201, 0.15);

  --shade-2: rgb(77, 93, 236);
  --shade-2-fade: rgba(77, 93, 236, 0.15);

  --shade-3: rgb(65, 201, 133);
  --shade-3-fade: rgba(64, 201, 133, 0.15);

  --shade-4: rgb(212, 107, 74);
  --shade-4-fade: rgba(212, 107, 74, 0.15);

  --danger: rgb(219, 51, 51);
  --danger-fade: rgb(229, 188, 188);

  --box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.cropper {
  bottom: 40% !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

::-webkit-scrollbar-track {
  background: white;
}

body {
  font-family: var(--font-1);
  width: 100%;
  overflow: hidden;
  color: var(--primary);
}

p {
  color: var(--primary-light);
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}
input {
  font-family: var(--font-1);
}
button {
  font-family: var(--font-1);
  font-size: inherit;
  border-radius: 6px;
  cursor: pointer;
  color: var(--light);
  background-color: var(--shade-2);
  border: 2px solid var(--shade-2);
  transition: 0.3s all ease-out;
}
button.hovered {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
}
button:hover {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
}
button.rounded {
  border-radius: 50rem;
}
button.secondary {
  background-color: var(--shade-4);
  border: 2px solid var(--shade-4);
}
button.danger {
  background-color: var(--danger);
  border: 2px solid var(--danger);
}
button.light {
  color: var(--primary);
  background-color: var(--light);
  border: 2px solid var(--light);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.151);
}
button.outline-light {
  background-color: var(--transparent);
  border: 2px solid var(--light);
  color: var(--light);
}
button.outline-dark {
  background-color: var(--transparent);
  border: 2px solid var(--primary);
  color: var(--primary);
}
button.outline-danger {
  background-color: var(--transparent);
  border: 2px solid var(--danger);
  color: var(--danger);
}
button.outline-danger:hover {
  background-color: var(--danger);
  border: none;
  border: 2px solid var(--danger);
  color: var(--light);
}

.hoverable {
  transition: 0.3s all ease-out;
  cursor: pointer;
}

.hoverable:hover {
  filter: brightness(75%);
}

.hoverable-bright:hover {
  filter: brightness(115%);
}

.disabled {
  filter: brightness(75%);
  cursor: not-allowed !important;
}
.disabled:hover {
  box-shadow: none;
}
